@charset "UTF-8";

. {
    background-color: rgb(30, 30, 241);
}

.conteiner {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(5, 1fr);
}

.area1 {
    background-color: rgb(199, 157, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 30, 241);
    text-align: center;
    border: dashed;
    grid-area: 1 / 1 / 3 / 5;
}

.area2 {
    background-color: rgb(199, 157, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 30, 241);
    text-align: center;
    border: dashed;
    grid-area: 3 / 1 / 4 / 5;
}

.area3 {
    background-color: rgb(199, 157, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 30, 241);
    text-align: center;
    border: dashed;
    grid-area: 4 / 1 / 9 / 4;
}

.area4 {
    background-color: rgb(199, 157, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 30, 241);
    text-align: center;
    border: dashed;
    grid-area: 4 / 4 / 9 / 5;
}

.area5 {
    background-color: rgb(199, 157, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 30, 241);
    text-align: center;
    border: dashed;
    grid-area: 9 / 1 / 10 / 5;
}